RewriteEngine On

# Si le fichier demandé existe réellement, ne faites rien
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon, redirigez vers index.php
RewriteRule ^ index.php [L]